.react-calendar {
  width: 100%;
  max-width: 100%;
  background: #ffff;
  border: 1px solid #eeeeee;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
  border-radius: 10px;
  box-shadow: 0px 0px 20px #e0e0e0;
  height: 100%;
}
react-calendar__tile--now {
  background: #ef5350;
  color: #fafafa;
}

.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: #ef5350;
  color: #fafafa;
}

.react-calendar__tile--active {
  background: #7fb77e;
  color: white;
}
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #7fb77e;
}
